*{
   text-align: center;
    font-family: 'Times New Roman', Times, serif;
  
    
}
.h1{
    background: linear-gradient(to right, #d88ff5, #6e48aa);
    height: 200px;
    width: 100%;
    border-color: black;
    border-width: 0.1em;
    border-style: solid;
   text-transform: capitalize;
   font-size: 40px;
}
.textjustify{
    text-align: justify;
}

.link{
    width:100px ;
    height: 100px;
    display: inline;
    list-style: none;
}
header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
}
header nav ul li :hover {
color: black;
}
.about{
    text-align: justify;

}
.contacta {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.footer {
    background: linear-gradient(to right, #d88ff5, #6e48aa);
    border-color: black;
    border-width: 0.1em;
    border-style: solid;
}
h2{
    font-size: 25px;
    background: linear-gradient(to right, #d88ff5, #6e48aa);
    color: white;
    border-color: black;
    border-width: 0.1em;
    border-style: solid;


}
.Msize{
   font-size: 50p;

}